version: '3.8'

services:
  selenium-tests:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      SELENIUM_GRID_URL: http://host.docker.internal:4444/wd/hub
    container_name: selenium-test-runner
    command: >
      mvn test -Dselenium.grid.url=http://host.docker.internal:4444/wd/hub
    volumes:
      - ./target:/app/target
    networks:
      - selenium-network

networks:
  selenium-network:
    driver: bridge

#volumes:
#  reports:
#   external: true