RewriteEngine On

# If the request is NOT an existing file or directory,
# send it to index.php (our router).
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^ index.php [QSA,L]
